<html>
<head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.validator/2.0.2/vue-validator.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="./app.js"></script>
</head>
<body>
<div id="app">
  <validator name="validation">
  <h1>メモ</h1>

  <p><button v-on:click="changeDisplayState(true)">追加</button></p>
  <p>
    <textarea v-model="content" v-show="showContentForm" v-validate:content="{ required: true, maxlength: 200 }"></textarea>
    <div v-if="$validation.content.dirty">
      <p v-if="$validation.content.required">本文は必須です。</p>
      <p v-if="$validation.content.maxlength">200文字以内で入力してください</p>
    </div>
  </p>
  <p>
    <button v-on:click="changeDisplayState(false)">キャンセル</button>
    <button v-on:click="addItem">作成</button>
  </p>

  <p>
    <input type="text" id="search" name="search" placeholder="検索">
    <button>新しい順</button><button>古い順</button>
  </p>

  <ul v-for="item in items">
    <li>
    <p>{{ item.content}}</p>
    <p>{{ item.createdAt }} <a href="#">編集</a> <a href="#">削除</a></p>
    </li>
  </ul>

  </validator>
</div>
</body>
</html>
