<html>
<head>
<script type="text/javascript" src="./app.js"></script>
</head>
<body>
<div id="app">
  <validator name="validation">
  <h1>メモ</h1>

  <p><button v-on:click="changeDisplayState(true)">追加</button></p>
  <p>
    <input type="text" v-model="content" v-show="showContentForm" v-validate:content="{ required: true, maxlength: 200 }" />
    <div v-if="$validation.content.dirty">
      <p v-if="$validation.content.required">本文は必須です。</p>
      <p v-if="$validation.content.maxlength">200文字以内で入力してください</p>
    </div>
  </p>
  <p>
    <button v-on:click="changeDisplayState(false)">キャンセル</button>
    <button v-on:click="addItem">作成</button>
  </p>

  <p>
    <input type="text" v-model="search" id="search" name="search" placeholder="検索">
    <button v-on:click="order = 1">昇順</button><button v-on:click="order = -1">降順</button>
  </p>

  <ul v-for="item in items | orderBy 'createdAt' order | filterBy search in 'content'">
    <li>
    <p>
      <input type="text" v-model="editedContent" v-show="item == editingItem" value="{{ item.content}}" />
      <button v-show="item == editingItem" @click="saveItem(item)">保存</button>
      <span v-else>{{ item.content}}</span>
    </p>
    <p>{{ item.createdAt }} <a href="#" @click="editItem(item)">編集</a> <a href="#" v-on:click="removeItem(item)">削除</a></p>
    </li>
  </ul>

  </validator>
</div>
</body>
</html>
