<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" src="./app.js"></script>
</head>
<body>
<div id="app">
  <button @click="save">保存</button>
  <modal
    :show.sync="showModal"
    :master_items.sync="master_items"></modal>

  <ul>
    <template v-for="(index, item) in items" track-by="$index">
    <li>
      <p>順位: {{ index + 1 }}位<p>
      <p><a href="javascript:void(0)" @click="openList(index)"><span v-if="item.title">{{ item.title }}</span><span v-else>クリックしてください</span></a><p>
      <p><textarea v-model="item.content"></textarea><p>
    </li>
    </template>
  </ul>

</div>
</body>
</html>
