<!DOCTYPE html>
<html lang="en">
<head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script type="text/javascript" src="./app.js"></script>
<meta charset="utf-8">
</head>
<body>
<div class="container" style="margin: 10px;" id="app">
  <fieldset class="form-group">
    <label>タイトル</label>
    <input type="title" class="form-control" >
    <label>説明文</label>
    <textarea class="form-control" rows="3"></textarea>
  </fieldset>

  <menu_box
    :items.sync="items"></menu_box>

  <template v-for="(index, item) in items">
  <h2 v-if="item.type=='title' && item.title != ''">{{ item.title }}</h2>
  <h3 v-if="item.type=='sub_title' && item.title != ''">{{ item.title }}</h3>
  <p v-if="item.type=='body' && item.body != ''">{{ item.body }}</p>

  <div v-if="item.type=='image'">
    <h3>{{ item.img_title }}</h3>
    <div class="row">
      <div class="col-md-4">
        <img v-bind:src="item.img_src" width="300px" class="img-rounded" />
      </div>
      <div class="col-md-8">
        <p>{{ item.img_body }}</p>
      </div>
    </div>
  </div>

  <button @click="insertItem(index)">追加</button>
  <button @click="removeItem(item)">削除</button>
  </template>
  <br />
  <br />

  <button type="submit" class="btn btn-primary">下書き</button>
  <button type="submit" class="btn btn-primary">公開</button>

</div>

</body>
</html>
